.commits__link {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #1a1b22;
  text-decoration: none;
  margin-top: 12px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .commits__link {
    display: none;
  }
}
