.commits__point {
  width: 8px;
  height: 8px;
}

.commits__point:nth-of-type(4n) {
  display: none;
}

.commits__point:nth-of-type(5n) {
  display: none;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .commits__point:nth-of-type(1n) {
    order: 2;
    margin-right: 8px;
  }
  .commits__point:nth-of-type(2n) {
    order: 3;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .commits__point {
    order: 2;
    margin-right: 8px;
  }
  .commits__point:nth-of-type(4n) {
    display: block;
  }

  .commits__point:nth-of-type(5n) {
    display: block;
    margin-right: 0;
  }
}
