@import url(./__card/commits__card.css);

.commits__cards {
  margin-top: 64px;
  display: grid;
  grid-template-columns:
    minmax(400px, 1fr) minmax(400px, 1fr) minmax(400px, 1fr)
    minmax(400px, 1fr) minmax(400px, 1fr);
  grid-gap: 16px;
  margin-left: -312px;
  margin-bottom: 0;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .commits__cards {
    margin-top: 32px;
    grid-template-columns: minmax(336px, 1fr) minmax(336px, 1fr) minmax(
        336px,
        1fr
      );
    grid-gap: 8px;
    margin-left: 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .commits__cards {
    margin-top: 16px;
    grid-template-columns: minmax(288px, 1fr);
    margin-left: 0;
  }
}
