.resultSearch__cardDescription {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  margin: 0;
  margin-bottom: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  visibility: visible;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .resultSearch__cardDescription {
    margin-bottom: 12px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .resultSearch__cardDescription {
    margin-bottom: 5px;
  }
}
