.resultSearch__cardDescription {
  min-height: 110px;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .resultSearch__cardDescription {
    min-height: 80px;
    overflow: hidden;
    margin-bottom: 12px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .resultSearch__cardDescription {
    min-height: 80px;
    overflow: hidden;
    margin-bottom: 5px;
  }
}
