@import url(./__pages/survey__pages.css);
@import url(./__block/survey__block.css);
@import url(../../blocks/content/__survey/content__survey.css);

.survey {
  max-width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
