.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  outline: none !important;
  background-color: #fff;
  background-image: url(../../../../images/arrow-left.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: none;
  top: 42% !important;
}

.swiper-button-prev::after {
  display: none;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .swiper-button-prev {
    background: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .swiper-button-prev {
    background: none;
  }
}
