.content__header {
  padding-left: 104px;
  padding-right: 101px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .content__header {
    padding-left: 40px;
    padding-right: 42px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .content__header {
    padding-left: 16px;
    padding-right: 14px;
  }
}
