@import url(./__point/commits__point.css);
@import url(./__point-black/commits__point-black.css);

.commits__points {
  display: flex;
  margin-top: 0;
  justify-content: center;
  margin-top: 48px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .commits__points {
    margin-top: 32px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .commits__points {
    margin-top: 16px;
  }
}
