.header__page.header__page_black.header__page_active-about {
  color: #1a1b22;
  border-bottom: 3px solid #1a1b22;
  padding-bottom: 40px;
  transition: opacity 0.1s linear;
}

.header__page.header__page_active-about:hover {
  opacity: 0.7;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .header__page_active-about {
    padding-bottom: 15px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .header__page_active-about {
    padding-bottom: 13px;
  }
}
