.worldNews__title {
  max-width: 608px;
  font-family: Roboto Slab, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  color: #ffffff;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .worldNews__title {
    max-width: 385px;
    font-size: 36px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .worldNews__title {
    font-size: 36px;
    max-width: 285px;
  }
}
