.content__footer {
  padding: 2.29% 5.55% 1.73% 7.22%;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .content__footer {
    padding: 3.125% 0 2.34% 5.2%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .content__footer {
    padding: 6.25% 6.25% 6.87% 5%;
  }
}
