.survey__paragraph {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin: 0;
}

.survey__paragraph:first-of-type {
  margin-top: 24px;
  margin-bottom: 4px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .survey__paragraph:first-of-type {
    margin-top: 16px;
  }
}
