.content__worldNews {
  padding: 5.55% 28.8%;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .content__worldNews {
    padding: 5.2% 20.31% 6.25% 20.83%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .content__worldNews {
    padding: 9.37% 5% 10% 5%;
  }
}
