.analitics__percent.analitics__percent_seven {
  width: 368px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .analitics__percent.analitics__percent_seven {
    width: 193px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .analitics__percent.analitics__percent_seven {
    width: 70px;
  }
}
