.commits__point-black {
  width: 8px;
  height: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .commits__point-black {
    order: 1;
    margin-left: 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .commits__point-black {
    order: 1;
    margin-left: 0;
  }
}
