.footer_about {
  padding: 13px 80px 25px 104px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .footer.footer_about {
    padding: 7px 16px 0 38px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer.footer_about {
    padding: 20px 18px 22px 16px;
  }
}
