@import url(./__num/analitics__num.css);

.analitics__percent {
  height: 24px;
  background: #2f71e5;
  margin-top: 56px;
}

.analitics__percent:first-of-type {
  margin-top: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .analitics__percent {
    margin-top: 24px;
  }
  .analitics__percent:first-of-type {
    margin-top: 0;
  }
}
