@import url(./__header/content__header.css);
@import url(./__worldNews/content__worldNews.css);
@import url(./__resultSearch/content__resultSearch.css);
@import url(./__survey/content__survey.css);
@import url(./__author/content__author.css);
@import url(./__footer/content__footer.css);

.content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
